<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            var records = {};
            var li = [];

            //GET
            $.ajax({
                type: 'GET',
                url: 'api/passenger',
                contentType: 'application/json',
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        var passenger = response[i].Id.split('.L/')[0];
                        passenger = passenger.substring(1, passenger.indexOf('-'));
                        var flightno = response[i].Id.split('.L/')[1];

                        //add the flightno as key
                        if (!(flightno in records)) {
                            records[flightno] = [passenger];
                        }
                        else {
                            //flightno has more than one passenger
                            records[flightno].push(passenger);
                        }
                    }

                    //add to dom
                    for (var key in records) {
                        li.push('<li class="record-flight__item"><p class="flight-number">' + key + '</p><ul class="record-passenger">');

                        for (var v = 0; v < records[key].length; v++)
                            li.push('<li class="record-passenger__item">' + records[key][v] + '</li>');

                        li.push('</ul></li>');
                    }
                    $('.output').append('<ul class="record-flight">' + li.join('') + '</ul>');
                }
            });

            //POST
            $('.writebtn').on('click', function () {
                //get text from input field
                var input = { Id: $('.writeterm').val() };

                //use post api post method to add to passenger list
                $.ajax({
                    type: 'POST',
                    url: 'api/passenger',
                    data: JSON.stringify(input),
                    contentType: 'application/json',
                    success: function () {
                        console.log('successfully updated!');
                    }
                });
            });


            //form validation
            $('.searchterm').on('input', function () {
                var search = $('.searchbtn');
                if ($(this).val().length > 0) {
                    search.attr('disabled', false);
                } else {
                    search.attr('disabled', true);
                }
            });

            $('.writeterm').on('input', function () {
                var write = $('.writebtn');
                if ($(this).val().length > 0 && $(this).val().includes(' .L/')) {
                    write.attr('disabled', false);
                } else {
                    write.attr('disabled', true);
                }
            });


            //SEARCH
            $('.searchbtn').on('click', function () {
                console.log($('.searchterm').val());
            });

        });
    </script>
</body>
</html>
